{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>
			portfolio
		</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="{% static '/CSS/index.css' %}" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="container">
			<br>
			<div class="row">
				<div class="col-md-12">
					<div class="card card-body h-100 border-info" id="profile-wrapper" style="background-image: url('/static/images/1.jpg')">
						<img src="{% static '/images/bun1.jpg' %}" id="profile-pic">
						<hr>
						<h4>Hello,I'm Banamali Behura</h4>
						<p style="font-style: italic" >I'm passionate about coding and learning new technologies.</p>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<div class="card card-body h-100">
						<h5>My Experience as a Python Developer</h5>
						<hr>
						<p>Developer at Quant Technology Pvt Ltd</p>
						<p>Worked on desgning a UI which was a part of an E-Commerce website of the company. </p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card card-body h-100">
						<h5>What I know</h5>
						<hr>
						<p>Python, Django, HTML/CSS, Bootstrap, Javascript/Jquery, PostgreSQL, MySQL.</p>
						<p>PS: Working on Flask and Django</p>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<div class="card card-body h-100">
						<h5>How I Learn</h5>
						<hr>
						<p>I focus more on practical implementaton rather than going through documentation.First of all I go through a case study then I implement things according to the requirement.</p>
                        </video>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card card-body h-100">
						<h5>My Short Term Goals</h5>
						<hr>
						<p>Right now I'm learning "React" after completing this I will do some projects to get some hands on experiences.</p>
						<p>Aside from building small projects, I would love to get into a position where I can be a part of bigger team ,where I will keep team focused on assigned task and working towards the goal.</p>
					</div>
				</div>
            </div>
                <div class="row">
                <div class="col-md-6">
					<div class="card card-body h-100 border-info">
						<h5>My first job as a developer!</h5>
						<hr>
						<p>During my MCA degree, I had joined Quant Technology Pvt Ltd as an Intern.</p>
						<p>I worked there for 3 months from the month Jan to Apr of 2020.</p>
						<br>
					</div>
				</div>
                <div class="col-md-6">
					<div class="card card-body h-100">
                        <h5>Contacts</h5>
                        <hr>
                        <p>Reach me on any of these social platforms...</p>
						<ul class="social-links">
							<li><a href="https://www.facebook.com/chugu.behura/" class="fa fa-facebook" target="_blank"></a></li>
							<li><a href="https://twitter.com/behurabanamali" class="fa fa-twitter" target="_blank"></a></li>
							<li><a href="mailto://gmail.com/ behurabanamali@gmail.com" class="fa fa-google" target="_blank"></a></li>
							<li><a href="https://www.instagram.com/the_bunny_97/" class="fa fa-instagram" target="_blank"></a></li>
							<li><a href="https://www.linkedin.com/in/banamali-behura-398296ba/" class="fa fa-linkedin" target="_blank"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<br>
		</div>
      </div>
	</body>
</html>
